.app-content {
    padding: 0;
}

.ant-layout-content {
    height: 100vh;
    margin-top: -70px;
    padding-top: 70px;
}

#windy{
    width: 100%;
    height: 100%;
}

#logo-wrapper{
    display: none;
}

#windy #map-container .leaflet-control-container{
    display: inline !important;
}